
# copy this file to /lib/systemd/system/

[Unit]
Description=mhb-js
After=network.target

[Service]
Environment="DEBUG=zigbee-service*"
ExecStart=/usr/bin/node src/index.js
WorkingDirectory=/home/alex/dev/mhb-js
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
